/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-sprite1 {
  background-image: url(sprite.png);
  background-position: -100px 0px;
  width: 50px;
  height: 50px;
}
.icon-sprite2 {
  background-image: url(sprite.png);
  background-position: -100px -50px;
  width: 50px;
  height: 50px;
}
.icon-sprite3 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 100px;
  height: 200px;
}
