/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$fork-name: 'fork';
$fork-x: 0px;
$fork-y: 0px;
$fork-offset-x: 0px;
$fork-offset-y: 0px;
$fork-width: 32px;
$fork-height: 32px;
$fork-total-width: 64px;
$fork-total-height: 64px;
$fork-image: 'sprite.png?hash=bf0be0d4';
$fork: (0px, 0px, 0px, 0px, 32px, 32px, 64px, 64px, 'sprite.png?hash=bf0be0d4', 'fork', );
$github-name: 'github';
$github-x: 32px;
$github-y: 0px;
$github-offset-x: -32px;
$github-offset-y: 0px;
$github-width: 32px;
$github-height: 32px;
$github-total-width: 64px;
$github-total-height: 64px;
$github-image: 'sprite.png?hash=bf0be0d4';
$github: (32px, 0px, -32px, 0px, 32px, 32px, 64px, 64px, 'sprite.png?hash=bf0be0d4', 'github', );
$twitter-name: 'twitter';
$twitter-x: 0px;
$twitter-y: 32px;
$twitter-offset-x: 0px;
$twitter-offset-y: -32px;
$twitter-width: 32px;
$twitter-height: 32px;
$twitter-total-width: 64px;
$twitter-total-height: 64px;
$twitter-image: 'sprite.png?hash=bf0be0d4';
$twitter: (0px, 32px, 0px, -32px, 32px, 32px, 64px, 64px, 'sprite.png?hash=bf0be0d4', 'twitter', );
$spritesheet-width: 64px;
$spritesheet-height: 64px;
$spritesheet-image: 'sprite.png?hash=bf0be0d4';
$spritesheet-sprites: ($fork, $github, $twitter, );
$spritesheet: (64px, 64px, 'sprite.png?hash=bf0be0d4', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
